html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #DDD;
	font-family: 'Roboto Slab',
	serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'BioRhyme Expanded',
	serif;
	display: block;
}
main a {
	color: #E4503E;
	transition: color 0.2s ease-out;
}
main a:hover {
	color: #333;
}
h2 {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}
h2 span {
	display: inline-block;
	word-wrap: nowrap;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2em;
}
main {
	background: #FFF;
	min-height: 500px;
	margin: 0;
	padding: 2em 0;
	display: block;
}
header {
	margin: 0;
	padding: 2em 0;
	background: #E4503E;
	color: #FFF;
}
footer {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #DDD;
}
section {
	border-bottom: 1px solid #DDD;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;
}
section:last-child {
	border-bottom: none;
}
section li {
	line-height: 1.5em;
}
.btn {
	display: inline-block;
	background: #E4503E;
	color: #FFF;
	text-decoration: none;
	padding: 8px;
	text-transform: uppercase;
	margin: 0 0 8px;
	width: 100%;
	text-align: center;
	transition: background 0.2s ease-out;
}
.btn:hover {
	background: #333;
}
.btn i {
	margin-right: 4px;
}
cite {
	opacity: 0.5;
}

@media all and (min-width: 600px){
	.btn {
		width: auto;
		padding: 8px 24px;
		margin: 0 8px 8px 0;
	}
}
